<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
</head>

<body class="body-login">
    <header>
        <%- include ("../partials/header")%>
    </header>


    <main class="main-login">
        <section class="caja-login">

            <form action="/product/createEditorial" method="POST" class="formulario-completo">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" class="input-barras">
                <label for="direccion" class="">Dirección</label>
                <input type="text" name="direccion" id="direccion" class="input-barras">
                <label for="email" class="">Email</label>
                <input type="email" name="email" id="email" class="input-barras">
                <label for="telefono" class="">Teléfono</label>
                <input type="number" name="telefono" id="telefono" class="input-barras">
                <button type="submit" class="boton-login">Enviar</button>
        </section>
  
        </form>



       

    </main>

    <footer class="footer-section">
        <%- include ("../partials/footer.ejs")%>

    </footer>

</body>

</html>