<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0,
        maximum-scale=1.0,minimum-scale=1.0">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <a href="#modal" class="btn-open-popup">abrirpop</a>
        <div class="container-all" id="modal">
        <div class="popup">
                <div class="img">
                    <div class="container-text">
                        <h1> Titulo</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dolore quae nostrum soluta velit, perferendis sed similique! Eum quos aliquam maxime? Ab, nulla ipsa magnam pariatur similique fugit omnis consequuntur?
                        Ex aspernatur reprehenderit nesciunt atque repudiandae nihil odio, aliquid sunt? Animi earum minus obcaecati? Ab deserunt maiores odit vero hic harum eius nam unde quibusdam incidunt, impedit similique doloremque. Et.
                        Cupiditate nisi aspernatur culpa perferendis consequuntur deleniti accusantium! Aspernatur atque exercitationem, deleniti, voluptatibus reprehenderit quasi cumque in maxime sapiente voluptatum beatae, quae neque et voluptatem architecto a est quo sunt.
                        Sunt sint nihil debitis asperiores odit eligendi nobis, doloribus tempora obcaecati nesciunt? Ullam accusamus veniam iure ratione quam quo ut illum. Facilis doloremque ex numquam quibusdam dolor ad architecto iste.
                        Suscipit, commodi delectus natus iure cumque eaque perferendis? Nihil cumque ex corporis nulla reiciendis aliquam perferendis, nostrum quo laudantium, hic repudiandae aliquid, suscipit placeat dolor maxime cum quia? Inventore, ab.</p>

                    </div>  
                     <a href="#" class="btn-close-popup">x</a>
                </div>
                 

        </div>
    </div>
    </body>
</html>