.main-register {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 14px;
    box-sizing: content-box;
}


.input-barras {
    border: lightgray solid 1px;
    font-family: "Roboto";
    color: -internal-light-dark(black, white);
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 10px;
    width: 90%;
}


/* Product Cart */

.product-cart-content__image img{
    width: 80px;
}

.product-cart-content{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin: 5px;
    align-items: center;
    border-bottom: 1px solid #EDEDED;
}

.up-section-cart{
    display: flex;
    background-color: #EDEDED;
    padding: 10px;
}

.product-cart-content__buttons{
    display: flex;
}

.product-cart button{
    background-color: rgb(51 51 51 / 0%);
    border: 1px solid #EDEDED;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.product-cart input{
    border: gray 3px;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.product-cart-content__price .up-section-cart__trash{
    justify-content: flex-end;
}

.product-cart-content-trash-price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-cart-subtotal{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #EDEDED;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-cart-total{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #EDEDED;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.product-cart-content-left{
    display: flex;
}

.product-cart-content__amount{
    margin: 15px
}


.product-cart-content__price p{
    margin-top: 0px;
}

.product-cart-form {
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin: 5px;
    align-items: center;
    border-bottom: 1px solid #EDEDED;
}

.product-cart-form-input{
    display: flex;
}

.product-cart-form input{
    width: 40vw;
    margin: 5px;
    height: 30px;
}

.product-cart-send{
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    margin-left: 9vw;
    margin-right: 9vw;
    align-items: center;

}

.product-cart-send > p{
    margin: none;

}

.product-cart-send > i{
    margin: none;
}

.product-cart-purchase{
    display: flex;
    justify-content: center;
}

.product-cart-purchase input{    
    justify-content: center;
    width: 80vw;
    margin: 5px;
    height: 30px;
}

.product-cart-home{
    display: flex;
    justify-content: center;
    text-decoration:underline
}

.product-subtotal{
    display: none;
}

.product-cart-section-empy{
    display: flex;
    justify-content: center;
}

/*.product-cart{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 15px #434343;
} 


.up-section-cart{
    display: block;
}

.product-cart-content__image img{
    width: 80px;
}


.up-section-cart__subtitle{
    display: flex;
}


uso para medias queries*/
@media (min-width: 576px) {
}

@media (min-width: 768px) { 
    .product-cart-section{
        position: fixed;
        top: 0;
        right: 0;
        width: 500px;
        height: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1048;
        overflow-y: scroll;
    }

    .product-cart-form input{
        width: 100%;
    }

    .product-cart-form form{
        width: 80%;
    }

    .product-cart-send{
        margin-left: 7vw;
        margin-right: 7vw;
    }


    .product-cart-purchase-end input{
        justify-content: center;
        width: 100%;
        margin: 5px;
        height: 30px;    
    }

    .product-subtotal{
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #EDEDED;
        padding: 5px;
    }
    
 }

 /*Estilo detalle de producto*/

 .contenedor-detalle{
    display: flex;
    flex-direction: row;
    
}

.image-detalle{
   display: flex;
   align-items: center;
   justify-content: center;
}

.image-detalle > img {
   width: 40%;
}

.contenedor-detalle .image-detalle{
    width:60% ;
    text-align: center;
 
}
.compra-producto{
   width: 40%;
   padding-left:15px;
   
}
.form-cantidad, .input-cantidad, .label-envios, .fa-truck{
   display: block;
}
.input-botton{
   background-color: darkgrey;
   border: none;
   border-radius: 5%;
   color: white;
   width: 100%;
   height: 40px;

}
.compra-producto, p, i, form > label ,input {
   margin-bottom: 15px;
}
