
.main-register {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 14px;
    box-sizing: content-box;
}


.input-barras {
    border: lightgray solid 1px;
    font-family: "Roboto";
    color: -internal-light-dark(black, white);
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 10px;
    width: 90%;
}

/* .input-barras:invalid {
    background-color: pink;
} */

.input-barras:focus {
    background-color: ghostwhite;
}

.label-nacimiento {
    display: block;
    font-weight: bold;
    color: #434343;
    font-size: 14px;
    margin-left: 15px;
    width: 40%;

}


.titulo-avatar {
    color: #434343;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.input-avatar {
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 5%;
    padding: 8px;
}


.main-login {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 14px;
    text-align: center;
    box-sizing: content-box;
}

.div-botones-register {
    display: flex;
    flex-wrap: wrap;
}

.boton-enviar,
.boton-borrar {
    background-color:darkgray;
    border: none;
    border-radius: 5%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 8px;
    width: 30%;
}



.div-boton-login {
    margin-bottom: 20px;
    margin-top: 20px;
}

.boton-login {
    background-color: darkgray;
    border: none;
    color: white;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    width: 40vw;
}

.recuperacion-contraseña, a {
    text-decoration: none;
    color: #4F4F4F
}

.caja-login,
.caja-register {
    background-color: white;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

/* Recuperar contraseña */

.envio-mail {
    color: #4F4F4F;
}