.is-valid {
    color:#19c8a6;
  }
  
  .is-invalid {
    color:#EF5350;
    display:block;
  }

  form > i{
    padding-left:20px;
  }


  .fa-circle-xmark {
    visibility: hidden;
    
  }

  .fa-circle-check {
    visibility: hidden;
  }

  .errorMsgEmail{
    display:block;
  }

  .errorMsgPass{
    display:block;
  }
