<!DOCTYPE html>
<html>
    <head>
        <%- include ("./partials/head.ejs") %> 
    </head>
    <body>
        <header>
            <%- include ("./partials/header.ejs")%>

        </header>


        <main class="main-login">

            <div class="caja-login">  
           
                              <form
  action="https://formspree.io/f/xvoyodav"
  method="POST"
>
                <div>
                    <h5>Formulario</h5>

                    <input type="text" name="name" id="name" placeholder="Nombre" class="input-barras" required> 
                      <label class="email" for="email"></label>
                      <input type="email" name="email" id="email" placeholder="Email" class="input-barras" required>

                      
                      <textarea id="descripcion" name="message" rows="10" cols="35" style="margin-top:20px"
                      placeholder="Mensaje" ></textarea>
                  </div>
                  <div  class="div-boton-login">
                      <button type="submit" class="boton-login">Enviar email</button>
                  </div>
        
                    </form>
                </div>
                
          </main>

          <footer class="footer-section">
            <%- include ("./partials/footer.ejs")%>
          </footer>
        
    </body>
</html>