<article class="footer-item">
    <p class="navegacion">NAVEGACIÓN</p>
   <ul>
       <li>Inicio</li>
       <li>Catálogo</li>
       <li>Envíos</li>
       <li>Contacto</li>
   </ul>

    </article>
<article class="footer-item">
<i class="fas fa-credit-card"></i>
<p>Todos los medios de pago</p>

<i class="fa-solid fa-truck-fast"></i>
<p>Envíos en el día a CABA Y GBA</p>
<i class="fa-solid fa-user-shield"></i>
<p>Seguridad y certificaciones</p>
</article>

<article class="footer-item">
<p class="contacto-redes">CONTACTO Y REDES SOCIALES</p>
<i class="fa-brands fa-whatsapp"></i>
<i class="fa-brands fa-instagram"></i>
<i class="fa-brands fa-facebook-f"></i>

</article>


<section class="footer-copyright">
<p>Copyright ©2022 Kodos S.R.L.</p>
</section>
