<article class="footer-item">
    <p class="navegacion">NAVEGACIÓN</p>
   <ul>
       <a href="/"><li>Inicio</li></a>
       <a href="/product/productsList"><li>Catálogo</li></a>
      <li>Envíos</li>
        <a href="/contact"><li>Contacto</li></a>
   </ul>

    </article>
<article class="footer-item">
<i class="fas fa-credit-card"></i>
<p>Todos los medios de pago</p>

<i class="fa-solid fa-truck-fast"></i>
<p>Envíos en el día a CABA Y GBA</p>
<i class="fa-solid fa-user-shield"></i>
<p>Seguridad y certificaciones</p>
</article>

<article class="footer-item">
<p class="contacto-redes">CONTACTO Y REDES SOCIALES</p>
<div class="whatsapp"><a href="https://api.whatsapp.com/send?phone=5491162660333" target="_blank"
title="Enviar mensaje directo Whatsapp">
<i class="fa-brands fa-whatsapp"></i></a> </div>

<i class="fa-brands fa-instagram"></i>
<i class="fa-brands fa-facebook-f"></i>

</article>


<section class="footer-copyright">
<p>Copyright ©2022 Kodos S.R.L.</p>
</section>
