<section class="up-section">
    <div class="main-title">
        <!-- <img src="/images/logo blanco.png" alt=""> -->
        <h1 class="main-title__text">KODOS</h1>
    </div>
    <nav class="main-menu">
        <ul class="menu">
            <li class="menu__item"><a class="animation" href="/">Inicio</a></li>
            <li class="menu__item"><a class="animation" href="">¿Quiénes somos?</a></li>
            <li class="menu__item"><a class="animation" href="">Catálogo</a></li>
            <li class="menu__item"><a href="/user/login"><i class="fa-regular fa-user"></i></a></li>
            <li class="menu__item"><a href="/product/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li class="menu__item"><a href=""><i class="fa fa-search"></i></a></li>


        </ul>
    </nav>

    <div class="hamburguer-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</section>